<body>
  <h1>Pricing</h1>

  <p>
    Having worked in the accounting field for over 15 years, we handle full cycle accounting for small businesses. We offer high quality services in an accurate and timely manner, while at a competitive rate.
  </p>

  <br>

  <div class="container">
    <div class="pricing">
      <h2>Hourly</h2>
      <p>
        <b>$50</b>/hour
      </p>
    </div>
    
    <div class="pricing">
      <h2>Monthly*</h2>
      <p>
        <b>$600</b>/month
      </p>

      <br>

      <div class="footnote">
        <p>*Under 100 transactions per month</p>
      </div>
    </div>
  </div>
</body>

