/* Add application styles & imports to this file! */

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 38px;
  color: #5a75aa;
}

h2 {
  font-size: 32px;
  color: #5a75aa;
}

h1, h2 {
  font-weight: bolder;
}

p, li, a {
  font-size: 22px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  background-color: white;
  padding: 0px;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;
  align-items: center;*/
  /* TODO: Crop right side of image */
  background: /*linear-gradient(to right, white 0%, transparent),*/ url("https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/penticton1-corrected.jpg");
  background-position: center;
  background-size: cover;
}

app-bottom-bar {
  height: 800px;
  width: 100%;
  background-color: white;
  padding: 16px;
  /* overlap elements on bottom background picture 
  margin-top: -200px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* TODO: better fade */
  background: linear-gradient( white 0%, transparent), url("https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/penticton3-corrected.jpg");
  background-size: cover;
  background-position: bottom center;
}

/* Responsive menu for phones */
@media screen and (max-width: 720px) {
  app-top-bar {
    display: block;
    background: url("https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/penticton1-corrected.jpg");
    background-position: center;
    background-size: cover;
  }

  body {
    padding: 10px;
  }

  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p, li {
    font-size: 18px;
  }
}
