<body>
  <div class="title">
    <h1>Penticton and South Okanagan</h1>
  </div>

  <p>
    At Ruyi, we provide premium accounting and bookkeeping services to help your business grow. We value trust and integrity, and always put our clients first. We understand the challenges of running a business, and we are committed to supporting you and helping you succeed.
  </p>

  <br>

  <div class="container">
    <div class="image">
      <img src="https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/desk0-corrected.jpg" alt="Desk0">
    </div>

    <div class="infobox">
      <h2>At Ruyi:</h2>
      <p>
        Having worked in the accounting field for over 15 years, we handle full cycle accounting for small businesses with care and efficiency. We handle your books with utmost diligence, address your questions and concerns with expert-level experience, and help you make excellent business decisions.
      </p>
    </div>
  </div>

  <br>

  <div class="container2">
    <div class="image">
      <img src="https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/desk-alt1-corrected.jpg" alt="Desk1">
    </div>

    <div class="services">
      <h2>Services We Provide:</h2>
      <ol>
        <li>
          <b>Financial reconciliations.</b> Reconcile bank accounts and credit card accounts. 
        </li>
        <li>
          <b>Accounts receivable.</b> Follow up on invoices, help with collections to improve cash flow.
        </li>
        <li>
          <b>Accounts payable.</b> Monitor accounts payable to ensure vendors are paid on time. 
        </li>
        <li>
          <b>Data entry.</b>  Maintain the general ledger,  keep track of all accounts activity.
        </li>
        <li>
          <b>Government remittances.</b> Submit GST, PST, and payroll remittances.
        </li>
        <li>
          <b>Customized reports.</b> Prepare cash flow reports, balance sheets, and P&L.
        </li>
        <li>
          <b>Full payroll services.</b> Delivered with absolute accuracy and in a timely manner.
        </li>
        <!--li> 
          <b>Full-cycle accounting.</b> You can focus on your business and we handle the books.
        </li-->
      </ol>
    </div>
  </div>
</body>
