<body>
  <div class="text">
    <h1>Ruyi Bookkeeping Services</h1>
  </div>

  <div class="logo">
    <img src="https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/logo2.png" alt="Logo">
    <!--a [routerLink]="['/']">
      <img src="https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/logo2.png" alt="Logo">
    </a-->
  </div>

  <div class="links">
    <!--a [routerLink]="['/']">
      <img src="https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/logo.png" alt="Logo">
    </a-->
    <div class="contact">
      <p>(250)-859-2388</p>
      <a href="mailto:info@ruyibookkeeping.ca">info@ruyibookkeeping.ca</a>
    </div>
    <div class="navbar">
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/pricing']">Pricing</a>
      <!--a [routerLink]="['/contact']">Contact</a-->
    </div>
  </div>
</body>
